@mixin ms-button($selected: false) {
  @if $selected {
    border-top: 2px solid #000;
    border-right:  2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #000;
  } @else {
    border-top: 2px solid #fff;
    border-right:  2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #fff;
  }
}

@mixin ms-container() {
  border-top: 1px solid gray;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid gray;
}

@mixin ms-icon {
  height: 16px;
  margin-right: 5px;
  width: 16px;
}

@mixin ms-block-padding {
  padding: 5px 7.5px;
}

@mixin ms-button-padding {

}