.sidebar {
  align-items: center;
  background: $ms-gray;
  border-bottom: 1px solid gray;
  border-right: 2px solid #000;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  display: flex;
  flex-direction: column;
  height: 544px;
  justify-content: flex-start;
  width: 8%;
}

.sidebar__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &.sidebar__container--end {
    border-top: 1px solid gray;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid gray;
    height: 80px;
    margin: 10px 0;
    width: 75%;
  }
}

.sidebar__action {
  align-content: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #fff;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 1px solid #fff;
  display: flex;
  height: 26px;
  justify-content: center;
  padding: 2px;
  width: 26px;

  &:nth-child(even) {
  }
}

.taskbar {
  margin-left: auto;
}