div.window {
  @include ms-button();
  background: $ms-gray;
  height: 600px;
  width: 800px;
  position: absolute;
  top: 30px;
  right: 30%;
}

div.window--maximized {
  height: 100%;
  width: 100%;
  position: static;
  top: auto;
  left: auto;
}

.window__container {
  background: rgb(120,120,120);
  display: flex;
}